<nav class="navbar navbar-expand-xl navbar-light "  style="background-color: orangered;">
    <div class="container-fluid" >
    <a class="navbar-brand" href="#" >
    <h1 style="color: white;">Sushi App 🍣  </h1>
    </a>

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item ">
            <a class="nav-link active"
             routerLink="/menu" 
             routerLinkActive="active" style="color: white;">
             🍽️ menu
            </a>
            <li class="nav-item ">
                <a class="nav-link active"
                 routerLink="/rgpd" 
                 routerLinkActive="active" style="color: white;">
                 🔒 rgpd
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link active"
                 routerLink="/historique" 
                 routerLinkActive="active" style="color: white;">
                 <i class="bi bi-clock-history"></i> historique
                </a>
            </li>
            
         
        
      </ul>

      
    
  </div>