.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th,
.table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.table th {
    background-color: #f2f2f2;
}

.historique-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.historique-container p {
    font-size: 18px;
    color: #888;
}
