<!-- <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Footer Sushi App</title>
<link rel="stylesheet" href="footer.component.css"> -->

<footer>
    
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#footer">
        Annuler la commande
    </button>




    <div class="valider">
        <a class="nav-link active" routerLink="/panier" routerLinkActive="active" style="color: white;">
            Panier : {{ total() | number:'1.2-2'}} €
        </a>
    </div>
</footer>
<!-- Modal -->
<div class="modal fade" id="footer" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Êtes-vous sûr de vouloir annuler la commande ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-danger" (click)="annuler()"> <a href="/menu">Confirmer</a></button>
            </div>
        </div>
    </div>
</div>