
<div *ngIf="boxes" class="card-container">
    <div *ngFor="let box of boxes">
        <div class="card">
            <a routerLink="/detail/{{box.id}}"routerLinkActive="active">
                <!-- Image -->
                <div class="card-image"><img src="http://localhost:8080/api/image/{{box.image}}" alt="Orange" /></div>
                <!-- Fin de l'image  -->
            </a>
                <!-- Corp de notre carte -->
                <div class="card-body">
                    <!-- Prix de la box-->
                    <div class="card-prix">
                        <h6>{{box.prix}}0 € <button (click)="localStorage(box)">+</button></h6>
                    </div>
        
                  
                    
        
                    <!-- Nom de la box -->
                    <div class="card-title">
                        <h3>{{box.nom}}</h3>
                    </div>
                </div>
            
        </div>
    </div>
</div>
<app-footer></app-footer>